body{
	background-color: #FFF;
	font-family: Arial;
	font-size: 1rem;
}
h1{
	color: red;
}
h2{
	color: blue;
}
p{
	font-family: Arial;
	color: green;
}
table tr td{
	font-weight: bold;
}
img{
	width: 200px;
}
